version: '3.8'

services:
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: devMqtt
    ports:
      - "1883:1883"
      - "9001:9001"
    command: sh -c "echo 'listener 1883 0.0.0.0' > /tmp/mosquitto.conf && echo 'allow_anonymous true' >> /tmp/mosquitto.conf && mosquitto -c /tmp/mosquitto.conf"
    restart: always

  redis:
    image: redis:alpine
    container_name: devRedis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    restart: always