name: Deploy Realtime Service (VM)

on:
  push:
    branches:
      - deployment

jobs:
  deploy:
    name: Deploy to GCP VM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            cd ~/parkfinderBackend
            git fetch origin
            git checkout deployment
            git pull origin deployment
            echo "Restarting Docker Containers..."
            docker-compose down
            docker-compose up -d --build
            docker image prune -f
            echo "Deployment Success! Server Updated."